/* sample.css */

/* General Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf0ed;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
background-color: rgb(225, 234, 234);
    color: #f0afaf;
    padding: 20px 0;
    text-align: center;
    margin: auto;
    padding: 2px;
    border: 1px solid beige;
    
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header nav {
    margin-top: 15px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

header nav ul li {

    list-style: none;
    
    width:20%;
   
}

header nav ul li a {
   
    font-size: 1.2rem;
    color: black;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border-radius: 5px;;
}

header nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 4px;
}

/* Main Content Styling */
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: #333;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Utility Classes */
.left-aligned {
    text-align: left;
}
